.feature {
  margin-top: 29px;

  &-list {
    display: grid;
    grid-template-columns: repeat(2, 505px);
    grid-gap: 32px 36px;
    justify-content: space-between;
    padding: 0 32px 58px;
  }

  &-item {
    background-color: $gray-color;
    height: 287px;
    padding-left: 28px;
    padding-top: 25px;
    overflow: hidden;
    position: relative;
  }
  &-heading {
    margin-bottom: 16px;
    text-align: center;
  }

  &-heading-desc {
    margin-bottom: 48px;
    width: 540px;
    margin: 0 auto 48px;
  }
  &-info-heading {
    padding-bottom: 15px;
    width: 366px;
  }

  &-info-desc {
    width: 253px;
  }

  &-image {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(40%);
  }
}

@media screen and (max-width: 1919px) {
  .feature-list {
    padding: 0;
    grid-template-columns: repeat(2, 460px);
    grid-gap: 5px 5px;
  }
}
@media screen and (max-width: 1023px) {
  .feature-list {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 599px) {
  .feature-heading {
    font-size: 30px;
  }
  .feature-image {
    display: block;
    max-width: 100%;
    position: relative;
    transform: translateX(0%);
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}
