.hero {
  padding-top: 65px;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &-content {
    width: 50%;
    z-index: 1;
  }

  &-image {
    width: 50%;
    height: 275px;
    box-sizing: border-box;
    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &-heading {
    margin-bottom: 16px;
  }

  &-desc {
    margin-bottom: 32px;
    max-width: 496px;
  }
  &-btn {
    padding: 11px 37px;
    background-color: $primary-color;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    line-height: calc(19 / 16);
  }
}

@media screen and (max-width: 1023px) {
  .hero-container {
    flex-direction: column-reverse;
    gap: 20px 0;
  }

  .hero-content {
    width: 100%;
  }

  .hero-image {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .feature-heading {
    font-size: 40px;
  }
}
