.menu {
  border-top: 1px solid rgba(51, 51, 51, 0.1);
  padding: 18px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;

  &-nav {
    display: flex;
    // justify-content: space-between;
    // align-items: center;
    gap: 0 26px;
  }

  &-link {
    color: $heading-color;
  }

  &-btn {
    padding: 10px 23px;
    background-color: $primary-color;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    line-height: calc(19 / 16);
  }

  &-toggle {
    width: 30px;
    height: 30px;
    display: none;
    svg {
      pointer-events: none;
    }
  }
}

.btn-auth {
  padding: 10px 23px;
  background-color: $primary-color;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: calc(19 / 16);
  display: none;
}

@media screen and (max-width: 1023px) {
  .menu {
    position: relative;
  }

  .menu-btn {
    display: none;
  }
  .menu-link {
    display: block;
    width: 100%;
    padding: 20px;
  }
  .menu-nav {
    position: fixed;

    z-index: 99;
    flex-direction: column;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    height: auto;
    gap: 50px 0;
    background-color: white;
    padding: 50px 10px;
    border-left: 1px solid rgb(214, 214, 214);
    align-items: stretch;
    transform: translateX(100%);
    will-change: transform;
    transition: all 0.2s linear;
    &.is-show {
      transform: translateX(0);
    }
  }

  .menu-toggle {
    display: inline-block;
  }
  .btn-auth {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
  }
}
